/* This is a CSS comment. Comments are ignored by the browser */



/* Use CSS selectors and rules to style your portfolio page */
body {
  background-color: black;  
  color: white;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

h1, h2 {
  color: lightblue;
}

footer {
  text-align: center;
